.container {
    max-width: 100%;
    max-height: calc(100vh - 100px);
}

form {
    width: 100%;
    margin-bottom: 50px;
}

.form-holder {
    max-height: calc(100vh - 100px);
    overflow: auto;
}

form .row {
    width: 100%;
}

::-webkit-scrollbar:vertical {
    display: none !important;
}

.table-holder {
    border-radius: 20px;
    padding: 20px;
    box-shadow: 5px 32px 39px 21px rgba(0, 0, 0, 0.05);
    max-height: calc(100vh - 100px);
    overflow: auto;
}

.table-holder table {
    border: #ecf1e5 1px solid;
}

.full-width {
    width: 100%;
}

.container .row {
    margin-top: 20px;
}

.form-control {
    background-color: #d2eaaa !important;
    border: none;
    box-shadow: none;
    border-radius: 15px;
    padding: 10px 20px;
}

.select-btn {
    background-color: #93C741;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    padding: 6px 30px;
    font-family: 'Mulish-Regular';
    font-size: 16px;
    line-height: 30px;
    cursor: pointer;
}

.upload-btn {
    background-color: #93C741;
    color: #ffffff !important;
    border: none;
    border-radius: 5px;
    padding: 6px 30px;
    font-family: 'Mulish-Regular';
    font-size: 16px;
    line-height: 30px;
    cursor: pointer;
}

.select-btn:disabled {
    background-color: #dce0da;
}

.add-btn {
    background-color: #93C741;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    padding: 6px 30px;
    font-family: 'Mulish-Regular';
    font-size: 16px;
    line-height: 30px;
}

.delete-btn {
    background-color: #FF0000;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    padding: 6px 30px;
    font-family: 'Mulish-Regular';
    font-size: 16px;
    line-height: 30px;
}

.options {
    margin-left: 50px;
}

.options>div {
    margin-right: 50px;
    cursor: pointer;
}

.pin img {
    height: 24px;
}

mat-label {
    font-family: 'Poppins-Medium';
    font-size: 13px;
    color: #93C741;
}

.day-number {
    font-family: 'Poppins-Medium';
    font-size: 15px;
    margin-bottom: 12px;
}

thead tr {
    font-family: 'Poppins-Regular';
    font-size: 13px;
    color: #93C741;
}

tbody tr {
    font-family: 'Poppins-Regular';
    font-size: 13px;
    color: #000000;
}

tbody tr td mat-icon {
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

tbody tr td mat-icon.delete-icon {
    color: #FF0000;
}

tbody tr td mat-icon.show-icon {
    color: #93C741;
}

tbody tr td {
    vertical-align: middle;
}

td,
th {
    width: 40%;
}

.actions {
    width: 100%;
}

.header h2 {
    font-family: 'Poppins-SemiBold';
    font-size: 15px;
}

.file-name-container {
    border: solid 1px #93C741;
    padding: 8px;
    margin-left: 5px;
}

.holder span {
    font-family: 'Poppins-Regular';
    font-size: 13px;
    color: #93C741;
}

.holder .holder-text {
    margin-top: 10px;
}

:host ::ng-deep .custom-spinner circle {
    stroke: #93C741;
}

.spinner-holder {
    height: 50vh;
}

.err-holder {
    margin-top: 10px;
}

.err {
    color: #FF0000;
    font-family: 'Poppins-Regular';
    font-size: 12px;
}

.buttons-holder button {
    margin-right: 15px;
}

.images,
.videos,
.articles {
    margin-top: 50px;
    margin-bottom: 50px;
}