<div class="container d-flex">
    <div class="form-holder course-detail col-lg-7">
        <form class="needs-validation" #f="ngForm">
            <div class="row">
                <mat-label> &nbsp;&nbsp;&nbsp;Number of Days</mat-label>
                <div class="col-md-9 col-lg-9">
                    <input class="form-control input-text" placeholder="Number of Days" [(ngModel)]="course.number_of_days" name="number_of_days">
                </div>
            </div>

            <div class="row">
                <mat-label> &nbsp;&nbsp;&nbsp;Course Title</mat-label>
                <div class="col-md-9 col-lg-9">
                    <input class="form-control input-text" placeholder="Course Title" [(ngModel)]="course.course_title" name="course_title" required>
                </div>
            </div>

            <div class="row">
                <mat-label> &nbsp;&nbsp;&nbsp;Course Instructor</mat-label>
                <div class="col-md-9 col-lg-9">
                    <input class="form-control input-text" placeholder="Course Instructor" [(ngModel)]="course.course_instructor" name="course_instructor">
                </div>
            </div>

            <div class="row">
                <mat-label> &nbsp;&nbsp;&nbsp;Quick Description</mat-label>
                <div class="col-md-9 col-lg-9">
                    <textarea class="form-control input-text" placeholder="Quick Description" [(ngModel)]="course.course_description" name="course_description" cdkTextareaAutosize #autosize="cdkTextareaAutosize" cdkAutosizeMinRows="3"></textarea>
                </div>
            </div>

            <br />

            <div class="row">
                <div class="col-md-12">
                    <button class="select-btn" (click)="selectDay()">Select Day</button> &nbsp;&nbsp;&nbsp;
                    <button class="select-btn" (click)="selectArticleOrVideo()">Article or Video?</button> &nbsp;&nbsp;&nbsp;
                    <button class="select-btn">Upload Image</button> &nbsp;&nbsp;&nbsp;
                </div>
            </div>
            <br />

            <div class="row" *ngIf="selectedDay > 0">
                <div class="day-number col-md-12">
                    <span>Course Lesson for Day {{selectedDay}}</span>
                </div>
            </div>

            <div class="row">
                <mat-label> &nbsp;&nbsp;&nbsp;Select Category</mat-label>
                <div class="col-md-9 col-lg-9">
                    <mat-select class="form-control input-text" [(ngModel)]="courseSession.category" name="sessionCategory">
                        <mat-option class="input-text" value="" selected>Select Option</mat-option>
                        <mat-option class="input-text" *ngFor="let sessionCategory of sessionCategories" [value]="sessionCategory.value">
                            {{sessionCategory.viewValue}}
                        </mat-option>
                    </mat-select>
                </div>
            </div>

            <div class="row">
                <mat-label> &nbsp;&nbsp;&nbsp;Tags</mat-label>
                <div class="col-md-9 col-lg-9">
                    <input class="form-control input-text" placeholder="Tags" [(ngModel)]="courseSession.tags" name="tags">
                </div>
            </div>

            <div class="row">
                <mat-label> &nbsp;&nbsp;&nbsp;Title</mat-label>
                <div class="col-md-9 col-lg-9">
                    <input class="form-control input-text" placeholder="Title" [(ngModel)]="courseSession.title" name="title">
                </div>
            </div>

            <div class="row">
                <mat-label> &nbsp;&nbsp;&nbsp;Quick Description</mat-label>
                <div class="col-md-9 col-lg-9">
                    <textarea class="form-control input-text" placeholder="Quick Description" [(ngModel)]="courseSession.description" name="description" cdkTextareaAutosize #autosize="cdkTextareaAutosize" cdkAutosizeMinRows="2"></textarea>
                </div>
            </div>

            <div class="row">
                <mat-label> &nbsp;&nbsp;&nbsp;What You Will Learn</mat-label>
                <div class="col-md-9 col-lg-9">
                    <textarea class="form-control input-text" placeholder="What You Will Learn" [(ngModel)]="courseSession.learning" name="learning" cdkTextareaAutosize #autosize="cdkTextareaAutosize" cdkAutosizeMinRows="2"></textarea>
                </div>
            </div>


            <br />
            <div class="row">
                <div class="d-flex col-md-12">
                    <div *ngIf="selectedVideo || selectedArticleAndVideo">
                        <button class="select-btn">Upload Video</button> &nbsp;&nbsp;&nbsp;
                    </div>
                    <div *ngIf="selectedArticle || selectedArticleAndVideo">
                        <button class="select-btn">Select Article</button> &nbsp;&nbsp;&nbsp;
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <div class="d-flex">
                        <button class="select-btn"><span class="pin"><img src="./../../../../../assets/images/courses/you-will-need.svg"></span> &nbsp; You Will Need</button> &nbsp;&nbsp;&nbsp;

                        <div class="options d-flex">
                            <div class="option d-flex align-items-center"><img src="./../../../../../assets/images/courses/soccer-field.svg"></div>
                            <div class="option d-flex align-items-center"><img src="./../../../../../assets/images/courses/cone.svg"></div>
                            <div class="option d-flex align-items-center"><img src="./../../../../../assets/images/courses/football-ball.svg"></div>
                            <div class="option d-flex align-items-center"><img src="./../../../../../assets/images/courses/living-room.svg"></div>
                        </div>
                    </div>
                </div>
            </div>

            <br />
            <div class="row">
                <div class="col-md-5">
                    <br />
                    <button class="select-btn" (click)="saveDay(courseSession)">Save Day</button>
                </div>
            </div>

            <br />
            <br />
            <br />
            <div class="row">
                <div class="col-md-12">
                    <button class="add-btn" (click)="updateCourse(course)">Update Course</button> &nbsp;&nbsp;&nbsp;

                    <button class="delete-btn" (click)="confirmDialogProfile(course)">Delete Course</button>
                </div>
            </div>
        </form>
    </div>


    <div class="col-lg-5">
        <div class="table-holder">
            <span class="header"><h2>Daily Sessions</h2></span>
            <table class="table">
                <thead>
                    <tr>
                        <th>Day</th>
                        <th>Title</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let courseSession of courseSessions">
                        <td>{{courseSession.day}}</td>
                        <td>{{courseSession.title}}</td>
                        <td>
                            <mat-icon (click)="viewSession(courseSession)">visibility</mat-icon>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

</div>