<div class="container d-flex">
    <div class="form-holder course-detail col-lg-7">
        <form class="needs-validation" #f="ngForm">
            <div class="basic-details">
                <!-- <div class="row">
                <mat-label> &nbsp;&nbsp;&nbsp;Number of Days</mat-label>
                <div class="col-md-9 col-lg-9">
                    <input class="form-control input-text" placeholder="Number of Days" [(ngModel)]="course.number_of_days" name="number_of_days">
                </div>
            </div>

            <div class="row">
                <mat-label> &nbsp;&nbsp;&nbsp;Course Title</mat-label>
                <div class="col-md-9 col-lg-9">
                    <input class="form-control input-text" placeholder="Course Title" [(ngModel)]="course.course_title" name="course_title" required>
                </div>
            </div>

            <div class="row">
                <mat-label> &nbsp;&nbsp;&nbsp;Course Instructor</mat-label>
                <div class="col-md-9 col-lg-9">
                    <input class="form-control input-text" placeholder="Course Instructor" [(ngModel)]="course.course_instructor" name="course_instructor">
                </div>
            </div>

            <div class="row">
                <mat-label> &nbsp;&nbsp;&nbsp;Quick Description</mat-label>
                <div class="col-md-9 col-lg-9">
                    <textarea class="form-control input-text" placeholder="Quick Description" [(ngModel)]="course.course_description" name="course_description" cdkTextareaAutosize #autosize="cdkTextareaAutosize" cdkAutosizeMinRows="3"></textarea>
                </div>
            </div> -->
            </div>

            <!-- <button class="select-btn" (click)="clearForm()">Clear</button> &nbsp;&nbsp;&nbsp; -->

            <div class="row">
                <div class="col-md-12">
                    <button class="select-btn" (click)="selectDay()">Select Day</button> &nbsp;&nbsp;&nbsp;
                    <button class="select-btn" (click)="selectArticleOrVideo()">Article or Video?</button> &nbsp;&nbsp;&nbsp;


                    <input type="file" (change)="selectImage($event)" id="image-btn" hidden/>

                    <!-- our custom upload button -->
                    <label class="select-btn" for="image-btn">Upload Image</label> <span class="file-name-container input-text" *ngIf="imagename">{{imagename}}</span>
                </div>
            </div>

            <div *ngIf="selectedDayErr" class="err-holder"> <span class="err"> {{selectedDayErr}}</span></div>

            <br />

            <div class="row" *ngIf="courseSession.day > 0">
                <div class="day-number col-md-12">
                    <span>Course Lesson for Day {{courseSession.day}}</span>
                </div>
            </div>

            <div class="row">
                <mat-label> &nbsp;&nbsp;&nbsp;Select Category</mat-label>
                <div class="col-md-9 col-lg-9">
                    <mat-select class="form-control input-text" [(ngModel)]="courseSession.category" name="sessionCategory" required>
                        <mat-option class="input-text" value="" selected>Select Option</mat-option>
                        <mat-option class="input-text" *ngFor="let sessionCategory of sessionCategories" [value]="sessionCategory.value">
                            {{sessionCategory.viewValue}}
                        </mat-option>
                    </mat-select>
                </div>
            </div>

            <div class="row">
                <mat-label> &nbsp;&nbsp;&nbsp;Tags</mat-label>
                <div class="col-md-9 col-lg-9">
                    <input class="form-control input-text" placeholder="Tags" [(ngModel)]="courseSession.tags" name="tags">
                </div>
            </div>

            <div class="row">
                <mat-label> &nbsp;&nbsp;&nbsp;Title</mat-label>
                <div class="col-md-9 col-lg-9">
                    <input class="form-control input-text" placeholder="Title" [(ngModel)]="courseSession.title" name="title" required>
                </div>
            </div>

            <div class="row">
                <mat-label> &nbsp;&nbsp;&nbsp;Quick Description</mat-label>
                <div class="col-md-9 col-lg-9">
                    <textarea class="form-control input-text" placeholder="Quick Description" [(ngModel)]="courseSession.description" name="description" cdkTextareaAutosize #autosize="cdkTextareaAutosize" cdkAutosizeMinRows="2" required></textarea>
                </div>
            </div>

            <div class="row">
                <mat-label> &nbsp;&nbsp;&nbsp;What You Will Learn</mat-label>
                <div class="col-md-9 col-lg-9">
                    <textarea class="form-control input-text" placeholder="What You Will Learn" [(ngModel)]="courseSession.learning" name="learning" cdkTextareaAutosize #autosize="cdkTextareaAutosize" cdkAutosizeMinRows="2" required></textarea>
                </div>
            </div>


            <br />
            <div class="row">
                <div class="d-flex col-md-12">
                    <div *ngIf="selectedVideo || selectedArticleAndVideo">
                        <!-- <button class="select-btn">Upload Video</button> &nbsp;&nbsp;&nbsp; -->

                        <input type="file" (change)="selectVideo($event)" id="video-btn" hidden/>

                        <!-- our custom upload button -->
                        <label class="select-btn" for="video-btn">Upload Video</label> <span class="file-name-container input-text" *ngIf="videoname">{{videoname}}</span> &nbsp;&nbsp;&nbsp;
                    </div>
                    <div *ngIf="selectedArticle || selectedArticleAndVideo">
                        <!-- <button class="select-btn">Select Article</button> &nbsp;&nbsp;&nbsp; -->

                        <input type="file" (change)="selectArticle($event)" id="article-btn" hidden/>

                        <!-- our custom upload button -->
                        <label class="select-btn" for="article-btn">Select Article</label> <span class="file-name-container input-text" *ngIf="articlename">{{articlename}}</span>&nbsp;&nbsp;&nbsp;
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <div class="d-flex">
                        <button class="select-btn"><span class="pin"><img src="./../../../../../assets/images/courses/you-will-need.svg"></span> &nbsp; You Will Need</button> &nbsp;&nbsp;&nbsp;

                        <div class="options d-flex">
                            <div class="option d-flex align-items-center" (click)="selectPreference('field')">
                                <div class="holder">
                                    <img src="./../../../../../assets/images/courses/soccer-field.svg">
                                    <div class="holder-text text-center" *ngFor="let field of this.courseSession.accessories.field"><span>{{field.field_name}}</span></div>
                                </div>
                            </div>
                            <div class="option d-flex align-items-center" (click)="selectPreference('cone')">
                                <div class="holder">
                                    <img src="./../../../../../assets/images/courses/cone.svg">
                                    <div class="holder-text text-center"><span>{{courseSession.accessories.coneNumber}}</span></div>
                                </div>
                            </div>
                            <div class="option d-flex align-items-center" (click)="selectPreference('ball')">
                                <div class="holder">
                                    <img src="./../../../../../assets/images/courses/football-ball.svg">
                                    <div class="holder-text text-center"><span>{{courseSession.accessories.ballNumber}}</span></div>
                                </div>
                            </div>
                            <div class="option d-flex align-items-center" (click)="selectPreference('living room')">
                                <div class="holder">
                                    <img src="./../../../../../assets/images/courses/living-room.svg">
                                    <div class="holder-text text-center"><span>{{courseSession.accessories.isLivingRoom}}</span></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <br />
            <div class="row">
                <div class="col-md-5">
                    <button class="select-btn" (click)="saveDay(courseSession)" [disabled]="!f.valid">Save Day</button>
                </div>
            </div>

            <br />
            <br />
            <div class="row">
                <div class="col-md-12">
                    <!-- <button class="add-btn" (click)="updateCourse(course)">Update Course</button> &nbsp;&nbsp;&nbsp; -->

                    <button class="delete-btn" (click)="confirmDialogProfile(course)">Delete Course</button>
                </div>
            </div>
        </form>
    </div>

    <!-- <div class="container-right col-lg-5 d-flex justify-content-center align-items-center">
        <mat-spinner class="custom-spinner" diameter="30"></mat-spinner>
    </div> -->

    <div class="container-right col-lg-5">
        <div class="table-holder">
            <span class="header"><h2>Daily Sessions</h2></span>

            <div class="spinner-holder d-flex justify-content-center align-items-center" *ngIf="loading">
                <mat-spinner class="custom-spinner align-self-center" diameter="30"></mat-spinner>
            </div>

            <table class="table" *ngIf="!loading">
                <thead>
                    <tr>
                        <th>Day</th>
                        <th>Title</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let courseSession of course.course_daily_sessions, index as i">
                        <td>{{courseSession.day}}</td>
                        <td>{{courseSession.title}}</td>
                        <td class="actions d-flex justify-content-center">
                            <mat-icon class="show-icon" (click)="viewSession(courseSession, i)">visibility</mat-icon> &nbsp;
                            <mat-icon class="delete-icon" (click)="deleteDay(i)">delete</mat-icon>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

</div>