.container {
    max-width: 100%;
}

form {
    width: 100%;
}

.table-holder {
    margin-top: 20px;
    border-radius: 20px;
    padding: 20px;
    box-shadow: 5px 32px 39px 21px rgba(0, 0, 0, 0.05);
}

.table-holder table {
    border: #ecf1e5 1px solid;
}

.full-width {
    width: 100%;
}

.container .row {
    margin-top: 20px;
}

.form-control {
    background-color: #d2eaaa !important;
    border: none;
    box-shadow: none;
    border-radius: 15px;
    padding: 10px 20px;
}

.select-btn {
    background-color: #93C741;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    padding: 6px 30px;
    font-family: 'Mulish-Regular';
    font-size: 16px;
    line-height: 30px;
}

.add-btn {
    background-color: #93C741;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    padding: 6px 30px;
    font-family: 'Mulish-Regular';
    font-size: 16px;
    line-height: 30px;
}

.delete-btn {
    background-color: #FF0000;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    padding: 6px 30px;
    font-family: 'Mulish-Regular';
    font-size: 16px;
    line-height: 30px;
}

.options {
    margin-left: 50px;
}

.options>div {
    margin-right: 50px;
}

.pin img {
    height: 24px;
}

mat-label {
    font-family: 'Poppins-Medium';
    font-size: 13px;
    color: #93C741;
}

.day-number {
    font-family: 'Poppins-Medium';
    font-size: 15px;
    margin-bottom: 12px;
}

thead tr {
    font-family: 'Poppins-Regular';
    font-size: 13px;
    color: #93C741;
}

tbody tr {
    font-family: 'Poppins-Regular';
    font-size: 13px;
    color: #000000;
}

tbody tr td mat-icon {
    color: #93C741;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

tbody tr td {
    vertical-align: middle;
}

.header h2 {
    font-family: 'Poppins-SemiBold';
    font-size: 15px;
}