<div class="container d-flex align-items-center">

    <div class="no-pack d-flex justify-content-center align-items-center" *ngIf="!available_packs">
        <span>You have not added any packs yet.</span>
    </div>

    <div class="outer-packs" *ngIf="available_packs">
        <div class="pack-holder d-flex" *ngFor="let pack of packs">
            <div class="image">
                <img src="./../../../../../assets/images/packs/packs-image-1.png" width="43px" height="43px">
            </div>
            <div class="content">
                <div class="pack-title">
                    <span>{{pack.pack_title}}</span>
                </div>

                <div class="pack-tutor">
                    <span>{{pack.pack_instructor}}</span>
                </div>
            </div>
            <div class="edit d-flex align-items-center"><span (click)="editPack(pack)">Edit</span></div>
        </div>
    </div>

</div>

<div class="col-md-6 add-btn-holder">
    <button class="add-btn" (click)="addPack()">Add Pack</button> &nbsp;&nbsp;&nbsp;
</div>