<div class="container">
    <form class="needs-validation" #f="ngForm">
        <div class="row">
            <div class="col-md-5">
                <input class="form-control input-text" type="number" placeholder="Number of Weeks" [(ngModel)]="pack.number_of_weeks" name="number_of_weeks">
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">

                <input type="file" id="image-btn" hidden/>
                <label class="select-btn" for="image-btn">Upload Week Image #1</label> &nbsp;&nbsp;

                <input type="file" id="image-btn" hidden/>
                <label class="select-btn" for="image-btn">Upload Week Image #2</label> &nbsp;&nbsp;

                <input type="file" id="image-btn" hidden/>
                <label class="select-btn" for="image-btn">Upload Week Image #3</label>

            </div>
        </div>

        <div class="row">
            <div class="col-md-5">
                <input class="form-control input-text" placeholder="Pack Title" [(ngModel)]="pack.pack_title" name="pack_title" required>
            </div>
        </div>

        <div class="row">
            <div class="col-md-5">
                <input class="form-control input-text" placeholder="Pack Instructor" [(ngModel)]="pack.pack_instructor" name="pack_instructor">
            </div>
        </div>

        <div class="row">
            <div class="col-md-5">
                <textarea class="form-control input-text" placeholder="Quick Description" [(ngModel)]="pack.description" name="pack_description" cdkTextareaAutosize #autosize="cdkTextareaAutosize" cdkAutosizeMinRows="3"></textarea>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <button class="add-btn" (click)="SavePack(pack)">Save Pack</button> &nbsp;&nbsp;&nbsp;
            </div>
        </div>
    </form>
</div>