<div class="container">
    <form class="needs-validation" #f="ngForm">
        <div class="row">
            <div class="col-md-5">
                <input class="form-control input-text" type="number" placeholder="Number of Days" [(ngModel)]="course.number_of_days" name="number_of_days">
            </div>
        </div>

        <div class="row">
            <div class="col-md-5">
                <input class="form-control input-text" placeholder="Course Title" [(ngModel)]="course.course_title" name="course_title" required>
            </div>
        </div>

        <div class="row">
            <div class="col-md-5">
                <input class="form-control input-text" placeholder="Course Instructor" [(ngModel)]="course.course_instructor" name="course_instructor">
            </div>
        </div>

        <div class="row">
            <div class="col-md-5">
                <textarea class="form-control input-text" placeholder="Quick Description" [(ngModel)]="course.course_description" name="course_description" cdkTextareaAutosize #autosize="cdkTextareaAutosize" cdkAutosizeMinRows="3"></textarea>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <button class="add-btn" (click)="saveCourse()">Add Course</button> &nbsp;&nbsp;&nbsp;
            </div>
        </div>
    </form>
</div>