mat-icon {
    color: #93C741;
    background-color: #f0f3f3;
    border-radius: 50px;
    cursor: pointer;
    font-size: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
}

form {
    width: 90%;
}

.full-width {
    width: 100%;
}

.container .row {
    margin-top: 20px;
}

.form-control {
    background-color: #d2eaaa !important;
    border: none;
    box-shadow: none;
    border-radius: 15px;
    padding: 10px 20px;
}

.select-btn {
    background-color: #93C741;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    padding: 6px 30px;
    font-family: 'Mulish-Regular';
    font-size: 16px;
    line-height: 30px;
}

.select-btn-delete {
    background-color: #FF0000;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    padding: 6px 30px;
    font-family: 'Mulish-Regular';
    font-size: 16px;
    line-height: 30px;
}

.add-btn {
    background-color: #93C741;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    padding: 6px 30px;
    font-family: 'Mulish-Regular';
    font-size: 16px;
    line-height: 30px;
}

.delete-btn {
    background-color: #FF0000;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    padding: 6px 30px;
    font-family: 'Mulish-Regular';
    font-size: 16px;
    line-height: 30px;
}

.pin img {
    height: 24px;
}

mat-label {
    font-family: 'Poppins-Medium';
    font-size: 13px;
    color: #93C741;
}

.day-number {
    font-family: 'Poppins-Medium';
    font-size: 15px;
    margin-bottom: 12px;
}

.course-detail {
    padding: 40px 0;
    margin: 0;
}

.course-detail .row {
    width: 100%;
    margin-bottom: 25px;
}

.header-holder {
    margin: 0;
    width: 100%;
    padding: 20px 15px;
    margin-bottom: 0;
}

.section-devider {
    height: 3px;
    background-color: #93C741;
    margin-bottom: 20px;
    width: 95%;
}

.media {
    border-radius: 20px;
    padding: 20px;
    box-shadow: 5px 32px 39px 21px rgba(0, 0, 0, 0.05);
    height: 65vh;
    overflow: auto;
}

.article-link {
    font-family: 'Poppins-Medium';
    font-size: 13px;
    color: #93C741;
    text-decoration: none;
    cursor: pointer;
}

.article-link-holder {
    margin-top: 25px;
}

.media-holder .media-card {
    width: calc((100% / 2) - 10px);
    margin-bottom: 50px;
}

mat-card-title {
    font-family: 'Poppins-Medium';
    font-size: 15px;
    color: #000000;
    margin-bottom: 10px;
}

.vid-content {
    margin-top: 30px;
    font-family: 'Mulish-Regular';
    font-size: 15px;
    line-height: 30px;
}

.options {
    margin-top: 30px;
}

.options .option {
    margin-right: 25px;
}

.holder img {
    cursor: pointer;
}

.holder span {
    font-family: 'Poppins-Regular';
    font-size: 13px;
    color: #93C741;
}

.holder .holder-text {
    margin-top: 10px;
}

.cards-header {
    margin-bottom: 10px;
}

.cards-header span {
    font-family: 'Poppins-Medium';
    font-size: 16px;
    color: #000000;
}


/**************************************
 scrobar starts
 **************************************/

::-webkit-scrollbar {
    width: 0;
}

::-webkit-scrollbar:horizontal {
    display: none;
}