<div class="header-holder row">
    <div class="col-md-12 d-flex justify-content-between align-items-center">
        <mat-label class="header">Session for the Day</mat-label>
        <mat-icon (click)="close()">close</mat-icon>
    </div>
</div>

<div class="devider-holder d-flex justify-content-center">
    <div class="section-devider"></div>
</div>

<div class="col-md-12 row">
    <div class="form-holder course-detail d-flex justify-content-center col-lg-6 col-md-6">
        <form class="needs-validation" #f="ngForm">
            <div class="row">
                <mat-label> &nbsp;&nbsp;&nbsp;Select Category</mat-label>
                <div class="col-md-12 col-lg-12">
                    <mat-select class="form-control input-text" [(ngModel)]="courseSession.category" name="sessionCategory">
                        <mat-option class="input-text" value="" selected>Select Option</mat-option>
                        <mat-option class="input-text" *ngFor="let sessionCategory of sessionCategories" [value]="sessionCategory.value">
                            {{sessionCategory.viewValue}}
                        </mat-option>
                    </mat-select>
                </div>
            </div>

            <div class="row">
                <mat-label> &nbsp;&nbsp;&nbsp;Tags</mat-label>
                <div class="col-md-12 col-lg-12">
                    <input class="form-control input-text" placeholder="Tags" [(ngModel)]="courseSession.tags" name="tags">
                </div>
            </div>

            <div class="row">
                <mat-label> &nbsp;&nbsp;&nbsp;Title</mat-label>
                <div class="col-md-12 col-lg-12">
                    <input class="form-control input-text" placeholder="Title" [(ngModel)]="courseSession.title" name="title">
                </div>
            </div>

            <div class="row">
                <mat-label> &nbsp;&nbsp;&nbsp;Quick Description</mat-label>
                <div class="col-md-12 col-lg-12">
                    <textarea class="form-control input-text" placeholder="Quick Description" [(ngModel)]="courseSession.description" name="description" cdkTextareaAutosize #autosize="cdkTextareaAutosize" cdkAutosizeMinRows="2"></textarea>
                </div>
            </div>

            <div class="row">
                <mat-label> &nbsp;&nbsp;&nbsp;What You Will Learn</mat-label>
                <div class="col-md-12 col-lg-12">
                    <textarea class="form-control input-text" placeholder="What You Will Learn" [(ngModel)]="courseSession.learning" name="learning" cdkTextareaAutosize #autosize="cdkTextareaAutosize" cdkAutosizeMinRows="2"></textarea>
                </div>
            </div>


            <br />
            <div class="row">
                <div class="d-flex col-md-12">
                    <div>
                        <button class="select-btn">Upload Video</button> &nbsp;&nbsp;&nbsp;
                    </div>
                    <div>
                        <button class="select-btn">Select Article</button> &nbsp;&nbsp;&nbsp;
                    </div>
                    <div>
                        <button class="select-btn">Upload Image</button> &nbsp;&nbsp;&nbsp;
                    </div>
                </div>
            </div>

            <!-- <div class="row">
                <div class="col-md-12">
                    <div class="d-flex">
                        <button class="select-btn"><span class="pin"><img src="./../../../../../assets/images/courses/you-will-need.svg"></span> &nbsp; You Will Need</button> &nbsp;&nbsp;&nbsp;

                        <div class="options d-flex">
                            <div class="option d-flex align-items-center"><img src="./../../../../../assets/images/courses/soccer-field.svg"></div>
                            <div class="option d-flex align-items-center"><img src="./../../../../../assets/images/courses/cone.svg"></div>
                            <div class="option d-flex align-items-center"><img src="./../../../../../assets/images/courses/football-ball.svg"></div>
                            <div class="option d-flex align-items-center"><img src="./../../../../../assets/images/courses/living-room.svg"></div>
                        </div>
                    </div>
                </div>
            </div> -->

            <br />
            <div class="row">
                <div class="col-md-12">
                    <br />
                    <button class="select-btn" (click)="updateDay(courseSession)">Update Day</button>&nbsp;&nbsp;&nbsp;
                    <button class="select-btn-delete" (click)="deleteDay(courseSession)">Delete Day</button>
                </div>
            </div>
        </form>
    </div>


    <div class="media col-lg-6 col-md-6">
        <!-- show videos -->
        <div class="cards-header"><span>Vedios</span></div>
        <div class="row media-holder d-flex justify-content-between">
            <mat-card class="media-card" *ngFor="let vid of courseSession.videoInfo">
                <mat-card-header>
                    <mat-card-title>{{vid.title}}</mat-card-title>
                </mat-card-header>
                <video width="100%" height="300px" controls>
                  <source [src]="vid.videoUrl" type="video/mp4" width="100%">
               </video>
                <mat-card-content>
                    <div class="vid-content">{{vid.caption}}</div>

                    <div class="options d-flex">
                        <div class="option d-flex align-items-center" (click)="selectAccessory('field')">
                            <div class="holder">
                                <img src="./../../../../../assets/images/courses/soccer-field.svg">
                                <div class="holder-text text-center"><span>{{vid.accessories.fieldSize}}</span></div>
                            </div>
                        </div>
                        <div class="option d-flex align-items-center" (click)="selectAccessory('cone')">
                            <div class="holder">
                                <img src="./../../../../../assets/images/courses/cone.svg">
                                <div class="holder-text text-center"><span>{{vid.accessories.coneNumber}}</span></div>
                            </div>
                        </div>
                        <div class="option d-flex align-items-center" (click)="selectAccessory('ball')">
                            <div class="holder">
                                <img src="./../../../../../assets/images/courses/football-ball.svg">
                                <div class="holder-text text-center"><span>{{vid.accessories.ballNumber}}</span></div>
                            </div>
                        </div>
                        <div class="option d-flex align-items-center" (click)="selectAccessory('living room')">
                            <div class="holder">
                                <img src="./../../../../../assets/images/courses/living-room.svg">
                                <div class="holder-text text-center"><span>{{vid.accessories.isLivingRoom}}</span></div>
                            </div>
                        </div>
                    </div>
                </mat-card-content>
            </mat-card>
        </div>

        <!-- show images -->
        <div class="cards-header"><span>Images</span></div>
        <div class="row media-holder d-flex justify-content-between">
            <mat-card class="media-card" *ngFor="let img of courseSession.imageInfo">
                <mat-card-header>
                    <mat-card-title>{{img.title}}</mat-card-title>
                </mat-card-header>
                <img source [src]="img.imageUrl" width="100%" height="300px">
                <mat-card-content>
                    <div class="vid-content">{{img.caption}}</div>

                    <div class="options d-flex">
                        <div class="option d-flex align-items-center" (click)="selectAccessory('field')">
                            <div class="holder">
                                <img src="./../../../../../assets/images/courses/soccer-field.svg">
                                <div class="holder-text text-center"><span>{{img.accessories.fieldSize}}</span></div>
                            </div>
                        </div>
                        <div class="option d-flex align-items-center" (click)="selectAccessory('cone')">
                            <div class="holder">
                                <img src="./../../../../../assets/images/courses/cone.svg">
                                <div class="holder-text text-center"><span>{{img.accessories.coneNumber}}</span></div>
                            </div>
                        </div>
                        <div class="option d-flex align-items-center" (click)="selectAccessory('ball')">
                            <div class="holder">
                                <img src="./../../../../../assets/images/courses/football-ball.svg">
                                <div class="holder-text text-center"><span>{{img.accessories.ballNumber}}</span></div>
                            </div>
                        </div>
                        <div class="option d-flex align-items-center" (click)="selectAccessory('living room')">
                            <div class="holder">
                                <img src="./../../../../../assets/images/courses/living-room.svg">
                                <div class="holder-text text-center"><span>{{img.accessories.isLivingRoom}}</span></div>
                            </div>
                        </div>
                    </div>
                </mat-card-content>
            </mat-card>
        </div>
    </div>
</div>