<div class="container d-flex align-items-center">

    <div class="outer-courses">
        <div class="course-holder d-flex" *ngFor="let course of courses">
            <!-- <div class="image">
                <img src="./../../../../../assets/images/courses/course-1.png" width="43px" height="43px">
            </div> -->

            <div *ngFor="let course_image of courseImages">
                <div class="image d-flex align-items-center" *ngIf="course.linking_id == course_image.linking_id">
                    <img [src]="course_image.image" alt="" class="img-fluid" width="100%" height="100%">
                </div>
            </div>

            <div class="content">
                <div class="course-title">
                    <span>{{course.course_title}}</span>
                </div>

                <div class="course-tutor">
                    <span>{{course.course_instructor}}</span>
                </div>
            </div>
            <div class="edit d-flex align-items-center"><span (click)="editCourse(course)">Edit</span></div>
        </div>
    </div>

</div>

<div class="col-md-6 add-btn-holder">
    <button class="add-btn" (click)="addCourse()">Add Course</button> &nbsp;&nbsp;&nbsp;
</div>