<div class="container d-flex align-items-center">
    <form class="needs-validation" #f="ngForm">

        <div class="row">
            <div class="col-md-12">

                <input type="file" id="image-btn" hidden/>
                <label class="select-btn text-center" for="image-btn">Upload Image + <br />(FRONT)</label> &nbsp;&nbsp;

                <input type="file" id="image-btn" hidden/>
                <label class="select-btn text-center" for="image-btn">Upload Image + <br />(BACK)</label> &nbsp;&nbsp;
            </div>
        </div>

        <div class="row">
            <div class="col-md-5">
                <input class="form-control input-text" placeholder="Points Needed To Achieve" name="points">
            </div>
        </div>

        <div class="row">
            <div class="col-md-5">
                <input class="form-control input-text" placeholder="Action Needed To Achieve" name="action">
            </div>
        </div>

        <br />
        <br />
        <div class="row">
            <div class="col-md-6">
                <button class="add-btn">Save Card</button> &nbsp;&nbsp;&nbsp;
            </div>
        </div>
    </form>
</div>